body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  height: 80vh;
  background-image: url('./Utilst/images/images.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.meal-title {
  overflow-x: auto;
}

.img-food {
  max-width: 1000px;
  max-height: 500px;
}
